.header{
background-color: 495E57;
color: EDEFEE;
display: flex;
justify-content: center;
position: relative;
}

.headerContainer{
width: 100%;
max-width: 1024px;
margin: 20px 0px 100px 0px;
}

.headerList{
display: flex;
gap: 40px;
}

.headerListItem{
display: flex;
align-items: center;
gap: 10px;
}

.headerTitel{
margin: 30px 0px;
color: F4CE14;
}

.headerDesc{
margin: 20px 0px;
color: EDEFEE;
}

.headerDesc1{
margin: 10px 0px;
color: EDEFEE;
}

.headerBtn{
background-color: F4CE14;
color: 333333;
font-weight: 500px;
border: none;
padding: 10px;
cursor: pointer;
}

.img{
height: fit-content;
position: absolute;
bottom: -50%;
}